h1 {
    text-align: center;
    font-size: 34px;
    text-decoration: underline;
}

#subtitulo, #bemVindo {
    font-size: 22px;
    text-align: center;
    color: rgba(33, 19, 10, 0.878);
}

header {
    background-color: rgba(153, 118, 101, 0.845);
    padding: 1px;
    border-radius: 4px;
    border-color: rgba(77, 49, 34, 0.746);
    border-style: solid;
    height: 250px;
    border-width: 3px;
}

section {
    padding: 14px;
    padding-top: 2px;
    background-color: rgba(152, 111, 97, 0.645);
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(77, 49, 34);
    margin-top: 4px;
}
h2 {
    color: rgba(51, 28, 18, 0.948);
    font-size: 25px;
}

button {
    background-color: rgba(174, 117, 76, 0.698);
    padding: 2px;
    height: 25px;
    width: 80px;
}

#botaoMudarCor {
    margin: 10px;
    height: 30px;
    width: 90px;
    background-color: rgb(175, 89, 20);
}

#carrinho {
    white-space: pre-line;
}

.botaoLimpar {
    width: 120px;
    height: 32px;
    background-color: rgba(175, 89, 20);
}

.botaoAdicionar {
    background-color: rgb(53, 123, 30);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3px;
}

.botaoRemover {
    background-color: rgba(147, 17, 3, 0.893);
    color: white;
    border: none;
    border-radius: 3px;
}

#total {
    font-weight: bold;
}

#botaoFinalizar {
    height: 40px;
    width: 130px;
    border-radius: 4px;
    border-style: groove;
    border-width: 3px;
    border-color: rgb(139, 70, 0);
    background-color: rgb(245, 168, 36);
    font-weight: bold;
    font-size: 14px;
}

hr {
    background-color: rgb(114, 82, 65);
    border: none;
    height: 2px;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    margin-bottom: 5px;
    background-color: rgba(149, 110, 87, 0.616);
    border-radius: 8px;
} 
ul {
    padding: 0;
}