body {
    background-color: rgba(169, 195, 246, 0.479);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    border: solid 4px rgb(10, 26, 96);
    border-radius: 0px 0px 15px 15px;
    background: linear-gradient(to right, rgb(43, 43, 243), rgb(48, 139, 209), rgb(85, 149, 245));
    align-items: center;
}

main {
    text-align: center;
    margin-top: 15px;
}

h1 {
    padding: 35px;
    font-size: 50px;
    text-align: center;
    margin: 0;
    line-height: 10px;
}

input {
    height: 40px;
    font-size: 15px;
    border: solid 1px rgb(176, 199, 234);
    margin: 10px;
    border-radius: 10px;
    padding-left: 5px;
}

#buscar {
    height: 44px;
    width: 80px;
    font-size: 15px;
    border: solid 1px rgb(176, 199, 234);
    background-color: rgb(37, 99, 235);
    color: white;
    border-radius: 10px;
    margin-left: -40px;
}

#localizacao {
    height: 44px;
    width: 240px;
    font-size: 15px;
    border: solid 1px rgb(176, 199, 234);
    background-color: rgb(37, 99, 235);
    color: white;
    border-radius: 10px;
}

#clima {
    text-align: left;
    margin: 10px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

h2 {
    text-align: center;
    padding-bottom: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 21px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    line-height: 15px;
}

#resultado {
    background-color: rgba(123, 149, 200, 0.515);
    border-radius: 4px;
    width: 300px;
    margin: 20px auto;
    margin-top: 20px;
    padding: 10px;
    border: solid 2px rgb(56, 73, 98);
}